---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import WhyUs from '../components/WhyUs.astro';
import Process from '../components/Process.astro';
import Gallery from '../components/Gallery.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout
  title="Puertas Valencia | Fábrica de Puertas Enchapadas y Blindadas a Medida en Santiago"
  description="Fabricamos puertas enchapadas en madera y puertas de seguridad blindadas a medida en Santiago. +20 años de experiencia. Taller en Lampa. ¡Solicita tu cotización gratis!"
>
  <Header />
  <main>
    <Hero />
    <Services />
    <WhyUs />
    <Process />
    <Gallery />
    <Contact />
  </main>
  <Footer />
</Layout>
